:root {
  --vp-c-brand-1: #2563eb;
  --vp-c-brand-2: #1d4ed8;
  --vp-c-brand-3: #1e40af;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #2563eb 20%, #7c3aed);
}

.VPHomeHero .text {
  max-width: 720px;
}

.vp-doc div[class*="language-"] {
  border: 1px solid var(--vp-c-divider);
}
